---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import InstaLogo from "../components/InstaLogo.astro";
import Logo from "../Chip_Stx_flag_pink_v2.png";
import { Image } from "astro:assets";
---

<Layout title="Chip Stx">
  <main class="w-3/4 mx-auto p-8">
    <section id="hero" class="flex">
      <div class="container">
        <div id="main-logo" class="flex justify-center">
          <div>
            <Image src={Logo} alt="A sexy golf pic" />
          </div>
        </div>
        <div id="social-footer" class="flex justify-center">
          <InstaLogo />
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    /* margin: auto; */
    /* background: #13151a; */
    /* width: 800px; */
    max-width: calc(100% - 2rem);
    /* border: 2px solid blue; */
    /* padding: 2rem; */
  }
</style>
